apiVersion: apps/v1
kind: Deployment
metadata:
  name: was-spring
  namespace: was
spec:
  replicas: 2
  selector:
    matchLabels:
      app: was
  template:
    metadata:
      labels:
        app: was
    spec:
      containers:
      - name: spring-petclinic
        image: springio/petclinic:latest
        ports:
        - containerPort: 8080
        env:
        - name: SPRING_DATASOURCE_URL
          value: "jdbc:mysql://prod-rds.ciyiccb2k2z8.ap-northeast-2.rds.amazonaws.com:3306/petclinic"
        - name: SPRING_DATASOURCE_USERNAME
          value: "admin"
        - name: SPRING_DATASOURCE_PASSWORD
          value: "MyNewPassword123!"
        resources:
          requests:
            memory: "512Mi"
            cpu: "500m"
          limits:
            memory: "1Gi"
            cpu: "1000m"
